/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__MkJga {
  border: none;
}
.form-field_formfield__MkJga:active {
  outline: #fcd34d solid 1px;
}
.form-field_formfield__MkJga:focus-visible {
  outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__gr6NE {
  background-color: #be185d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fdf2f8;
  padding: 0.5rem 1rem;
  border: none;
}

.button_cancel__SU3y5 {
  background-color: #6b7280;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e5e7eb;
  padding: 0.5rem 1rem;
  border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Home.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Home.Div6 {
background-origin: padding-box;
background-clip: border-box;
-webkit-background-clip: border-box;
position: relative;
height: ;
width: %;
margin-top: ;
padding-top: 30px;
margin-bottom: ;
padding-bottom: 30px;
}
.p-Home.Flex4 {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 120px;
margin-right: 130px;
margin-top: 0px;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Flex5 {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
row-gap: ;
-moz-column-gap: 30px;
     column-gap: 30px;
}
.p-Home.Flex6 {
display: flex;
}
.p-Home.Flex7 {
display: flex;
}
.p-Home.Flex8 {
display: flex;
}
.p-Home.Flex9 {
display: flex;
justify-content: space-between;
-moz-column-gap: 5px;
     column-gap: 5px;
}
.p-Home.Flex10 {
display: flex;
}
.p-Home.Div8 {
padding-top: 150px;
padding-bottom: 150px;
padding-left: ;
padding-right: ;
}
.p-Home.Div9 {
margin-top: ;
padding-left: 20px;
padding-right: 20px;
margin-left: 120px;
margin-right: 130px;
display: inline-block;
}
.p-Home.Div10 {
display: inline-block;
}
.p-Home.Div11 {
padding-top: 20px;
padding-right: ;
display: inline-block;
}
.p-Home.Div12 {
padding-right: ;
margin-right: 35px;
display: inline-block;
}
.p-Home.TextBox9 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
cursor: pointer;
}
.p-Home.TextBox10 {
font-family: IBM Plex Sans;
font-size: 18px;
cursor: pointer;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-size: 18px;
cursor: pointer;
}
.p-Home.TextBox12 {
font-family: IBM Plex Sans;
font-size: 18px;
cursor: pointer;
}
.p-Home.TextBox13 {
font-family: IBM Plex Sans;
font-size: 18px;
cursor: pointer;
}
.p-Home.Image3 {
;
}
.p-Home.TextBox2 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 400%;
}
.p-Home.TextBox3 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 400%;
}
.p-Home.TextBox7 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 160%;
color: #878787;
margin-right: ;
margin-bottom: 0px;
}
.p-Home.TextBox14 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 160%;
color: #878787;
}
.p-Home.TextBox15 {
color: #878787;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 160%;
}
.p-Home.TextBox16 {
color: #878787;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 160%;
}

