/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__MkJga {
  border: none;
}
.form-field_formfield__MkJga:active {
  outline: #fcd34d solid 1px;
}
.form-field_formfield__MkJga:focus-visible {
  outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__gr6NE {
  background-color: #be185d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fdf2f8;
  padding: 0.5rem 1rem;
  border: none;
}

.button_cancel__SU3y5 {
  background-color: #6b7280;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e5e7eb;
  padding: 0.5rem 1rem;
  border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Home.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Home.Div6 {
background-origin: padding-box;
background-clip: border-box;
-webkit-background-clip: border-box;
position: relative;
height: ;
width: %;
margin-top: ;
padding-top: 30px;
margin-bottom: ;
padding-bottom: 30px;
}
.p-Home.Flex4 {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 120px;
margin-right: 120px;
margin-top: 0px;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Flex5 {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
row-gap: ;
-moz-column-gap: 2.2vw;
     column-gap: 2.2vw;
}
.p-Home.Flex6 {
display: flex;
}
.p-Home.Flex7 {
display: flex;
}
.p-Home.Flex8 {
display: flex;
}
.p-Home.Flex9 {
display: flex;
justify-content: space-between;
-moz-column-gap: 5px;
     column-gap: 5px;
}
.p-Home.Flex10 {
display: flex;
}
.p-Home.Div8 {
padding-top: 150px;
padding-bottom: 150px;
padding-left: ;
padding-right: ;
}
.p-Home.Div9 {
margin-top: ;
padding-left: 20px;
padding-right: 20px;
margin-left: 120px;
margin-right: 120px;
display: block;
}
.p-Home.Div10 {
display: block;
}
.p-Home.Div11 {
padding-top: 20px;
padding-right: ;
display: block;
}
.p-Home.Div12 {
padding-right: ;
margin-right: 35px;
display: inline-block;
}
.p-Home.Div14 {
margin-top: ;
padding-top: 150px;
padding-bottom: 150px;
}
.p-Home.Flex12 {
display: flex;
margin-left: 120px;
margin-right: 120px;
flex-direction: column;
justify-content: space-around;
margin-bottom: 50px;
}
.p-Home.Flex70 {
display: flex;
margin-left: 120px;
margin-right: 120px;
justify-content: space-between;
padding-left: ;
padding-right: ;
padding-top: ;
margin-bottom: 80px;
height: 40vw;
border-width: 01px;
border-style: solid;
border-color: #bfbfbf;
}
.p-Home.Flex67 {
display: flex;
flex-direction: column;
width: 50%;
}
.p-Home.Flex69 {
display: flex;
flex-direction: column;
width: 50%;
justify-content: center;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Div90 {
;
}
.p-Home.Div91 {
;
}
.p-Home.Div93 {
padding-left: 20px;
margin-top: 40px;
display: inline;
}
.p-Home.Div43 {
padding-top: 150px;
padding-bottom: 150px;
}
.p-Home.Flex42 {
display: flex;
margin-left: 120px;
margin-right: 120px;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
padding-top: ;
margin-bottom: 80px;
}
.p-Home.Flex53 {
display: flex;
flex-direction: column;
width: 29%;
}
.p-Home.Div51 {
;
}
.p-Home.Div53 {
;
}
.p-Home.Div54 {
;
}
.p-Home.Flex55 {
display: flex;
flex-direction: column;
width: 29%;
}
.p-Home.Div58 {
;
}
.p-Home.Div59 {
;
}
.p-Home.Div60 {
;
}
.p-Home.Flex54 {
display: flex;
flex-direction: column;
width: 29%;
}
.p-Home.Div61 {
;
}
.p-Home.Div62 {
;
}
.p-Home.Div63 {
;
}
.p-Home.Flex44 {
display: flex;
margin-bottom: 60px;
justify-content: space-between;
margin-left: 120px;
margin-right: 120px;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Flex66 {
display: flex;
margin-left: 120px;
margin-right: 120px;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
padding-top: ;
margin-bottom: ;
margin-top: ;
}
.p-Home.Flex63 {
display: flex;
flex-direction: column;
width: 29%;
}
.p-Home.Div73 {
;
}
.p-Home.Div74 {
;
}
.p-Home.Div75 {
;
}
.p-Home.Flex64 {
display: flex;
flex-direction: column;
width: 29%;
}
.p-Home.Div76 {
;
}
.p-Home.Div77 {
;
}
.p-Home.Div78 {
;
}
.p-Home.Flex65 {
display: flex;
flex-direction: column;
width: 29%;
}
.p-Home.Div79 {
;
}
.p-Home.Div80 {
;
}
.p-Home.Div81 {
;
}
.p-Home.Div13 {
border-radius: 0px;
border-color: #bababa;
border-style: solid;
border-width: 1px;
height: 0px;
overflow: visible;
padding-top: ;
border-bottom-width: 0px;
border-bottom-style: none;
margin-left: 120px;
margin-right: 120px;
}
.p-Home.Div42 {
border-radius: 0px;
border-color: #bababa;
border-style: solid;
border-width: 1px;
height: 0px;
overflow: visible;
padding-top: ;
border-bottom-width: 0px;
border-bottom-style: none;
margin-left: 120px;
margin-right: 120px;
}
.p-Home.Div83 {
border-radius: 0px;
border-color: #bababa;
border-style: solid;
border-width: 1px;
height: 0px;
overflow: visible;
padding-top: ;
border-bottom-width: 0px;
border-bottom-style: none;
margin-left: 120px;
margin-right: 120px;
}
.p-Home.TextBox9 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 1.75vw;
cursor: pointer;
}
.p-Home.TextBox10 {
font-family: IBM Plex Sans;
font-size: 1.25vw;
cursor: pointer;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-size: 1.25vw;
cursor: pointer;
}
.p-Home.TextBox12 {
font-family: IBM Plex Sans;
font-size: 1.25vw;
cursor: pointer;
}
.p-Home.TextBox13 {
font-family: IBM Plex Sans;
font-size: 1.25vw;
cursor: pointer;
}
.p-Home.Image3 {
font-size: ;
}
.p-Home.TextBox2 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 4vw;
}
.p-Home.TextBox3 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 4vw;
}
.p-Home.TextBox7 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.60vw;
color: #878787;
margin-right: ;
margin-bottom: 0px;
}
.p-Home.TextBox14 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.6vw;
color: #878787;
}
.p-Home.TextBox15 {
color: #878787;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.60vw;
}
.p-Home.TextBox17 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 2.75vw;
align-self: center;
}
.p-Home.Image23 {
height: 40vw;
align-self: auto;
width: auto;
}
.p-Home.TextBox36 {
font-family: IBM Plex Sans;
font-size: 1.2vw;
color: #878787;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.TextBox37 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 1.75vw;
margin-bottom: 20px;
padding-top: 13px;
padding-left: 20px;
}
.p-Home.TextBox38 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 1.65vw;
}
.p-Home.Div94 {
border-radius: 0px;
border-color: #000000;
border-style: solid;
border-width: ;
height: 0px;
overflow: visible;
padding-top: ;
border-bottom-width: 0px;
border-bottom-style: none;
margin-left: ;
margin-right: 120px;
outline-width: ;
width: 11vw;
}
.p-Home.Image13 {
width: 40%;
height: 8vw;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 2.25vw;
margin-bottom: 10px;
padding-top: 13px;
}
.p-Home.TextBox23 {
font-family: IBM Plex Sans;
font-size: 1.3vw;
color: #878787;
}
.p-Home.TextBox21 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 2.25vw;
margin-bottom: 10px;
padding-top: 0px;
margin-top: 13px;
}
.p-Home.Image14 {
width: 30%;
height: 8vw;
padding-bottom: ;
}
.p-Home.TextBox24 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.3vw;
color: #878787;
}
.p-Home.TextBox25 {
color: #878787;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.3vw;
}
.p-Home.TextBox22 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 2.25vw;
margin-top: 13px;
margin-bottom: 10px;
}
.p-Home.Image15 {
width: 35%;
height: 8vw;
}
.p-Home.TextBox18 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 3vw;
}
.p-Home.TextBox19 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 1.5vw;
align-self: center;
cursor: pointer;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.3vw;
color: #878787;
}
.p-Home.Image16 {
width: 30%;
height: 8vw;
padding-bottom: ;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 2.25vw;
margin-bottom: 10px;
padding-top: 0px;
margin-top: 13px;
}
.p-Home.Image17 {
width: 35%;
height: 8vw;
}
.p-Home.TextBox28 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 2.25vw;
margin-top: 13px;
margin-bottom: 10px;
}
.p-Home.TextBox29 {
color: #878787;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 1.3vw;
}
.p-Home.TextBox30 {
font-family: IBM Plex Sans;
font-size: 1.3vw;
color: #878787;
}
.p-Home.TextBox31 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 2.25vw;
margin-bottom: 10px;
padding-top: 13px;
}
.p-Home.Image18 {
width: 40%;
height: 8vw;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex12.bpt {
align-items: stretch;
justify-content: space-between;
flex-direction: column;
margin-bottom: 50px;
	}
	.p-Home.Flex70.bpt {
padding-left: 20px;
justify-content: space-between;
width: vw;
height: 40vw;
	}
	.p-Home.Flex67.bpt {
width: 48%;
	}
	.p-Home.Flex69.bpt {
width: 48%;
	}
	.p-Home.Image23.bpt {
height: 40vw;
width: 30vw;
	}
}
